.c-overlay {

  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 9;
  padding-top: 8em;

  @include mq($until: tablet) {

    padding-top: 6em;

  }

  &--effect {

    opacity: 0;
    visibility: hidden;
    transition: opacity $global-transition, visibility $global-transition ;

    &.open {

      opacity: 1;
      visibility: visible;
      transition: opacity $global-transition;

    }

  }

  &__lead {

    font-family: $font-stack-sans;

  }

  &__info {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    margin-top: $inuit-global-spacing-unit-large;
    margin-bottom: $inuit-global-spacing-unit;
    margin-left: auto;
    margin-right: auto;

    @include mq($until: tablet) {

      position: relative;
      margin-bottom: 0px !important;

    }

  }

  &__arrow-btn {

    background-image: url('#{$path-images}svg/arrow-right-huge.svg') !important;
    background-size: 123px 65px;
    width: 123px;
    height: 65px;
    display: inline-block;
    transition: all $global-transition;

    @include mq($until: tablet) {

      background-size: 66px 35px;
      width: 66px;
      height: 35px;

    }

    &--small {

      background-size: 66px 35px;
      width: 66px;
      height: 35px;

    }

    &:hover {

      -webkit-transform: translateX(20px);
      transform: translateX(20px);

    }

  }

}
